.kuder-test{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    margin: 2rem auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numeo-pregunta{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.titulo-pregunta{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.respuesta{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 10px;
    width: 100%;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    font-size: 1.3rem;
}
button:hover{
    background-color: #e0e0e0;
}
