@import "assets/sass/breakpoints.sass"
.next__step
    animation: next__step__animation 0.3s ease-in-out
.prev__step
    animation: prev__step__animation 0.3s ease-in-out
.register__screen__right
    grid-area: right
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 2rem
    transition: all 0.3s ease-in-out
    height: 70vh
    form
        width: 40%
@keyframes next__step__animation
    0%
        opacity: 1
        transform: translateX(0)
    100%
        opacity: 0
        transform: translateX(-100%)
@keyframes prev__step__animation
    0%
        opacity: 1
        transform: translateX(0)
    100%
        opacity: 0
        transform: translateX(100%)
        
@media screen and (max-width:$xxlarge)
    .register__screen__right
        form
            width: 80%
@media screen and (max-width:$xlarge)
    .register__screen__right
        form
            width: 80%
@media screen and (max-width:$large)
    .register__screen__right
        form
            width: 80%

@media screen and (max-width:$medium)
    .register__screen__right
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1.5fr
        grid-template-areas: "left" "right"
    .register__screen__right
        form
            width: 80%

@media screen and (max-width:$small)
    .register__screen__right
        form
            width: 100%
@media screen and (max-width:$xs)
